<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="logPattern">%p|%d{ISO8601}{GMT}|%X{echoToken}|%t|%c{1}|%m%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPattern}" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
